<div class="modal-content p-3">
  <div
    class="modal-header d-flex py-2 border-bottom justify-content-between align-items-center"
  >
    <div class="modal-title h6">
      <span class="dialog-title">THÊM NHÓM TÀI SẢN</span>
    </div>
    
  </div>
  <div class="modal-body mt-3">
    <form [formGroup]="formGroup" class="d-flex gap-2 flex-wrap">
      <mat-form-field class="w-50">
        <mat-label>Mã nhóm</mat-label>
        <input
          class="input-batbuoc mat-focused required"
          formControlName="manhom"
          matInput
          type="text"
          required
        />
        <mat-error
          *ngIf="
            formGroup.get('manhom')?.touched && formGroup.get('manhom')?.invalid
          "
          style="color: red; font-size: 10px"
        >
          Trường này là bắt buộc
        </mat-error>
      </mat-form-field>
      <mat-form-field class="flex-fill">
        <mat-label>Tên nhóm</mat-label>
        <input
          class="input-batbuoc mat-focused required"
          formControlName="tennhom"
          matInput
          type="text"
          required
        />
        <mat-error
          *ngIf="
            formGroup.get('tennhom')?.touched &&
            formGroup.get('tennhom')?.invalid
          "
          style="color: red; font-size: 10px"
        >
          Trường này là bắt buộc
        </mat-error>
      </mat-form-field>
      <div class="w-50">
        <mat-label>Còn hiệu lực</mat-label>
        <mat-checkbox formControlName="cohieuluc" />
      </div>
    </form>
  </div>
  <div class="modal-footer mt-5">
    <div class="modal-title d-flex gap-2">
      <button
        (click)="goBack()"
        class="btn btn-secondary"
        style="margin: 0 !important"
      >
        &xlarr; TRỞ VỀ
      </button>
      <button
        (click)="onSubmit()"
        class="btn btn-primary"
        style="margin: 0 !important"
      >
        Lưu và tiếp tục
      </button>
      <button class="btn btn-primary" style="margin: 0 !important">
        Lưu và đóng
      </button>
    </div>
  </div>
</div>
