<div class="card card-custom gutter-br position-relative" style="height: 650px">
  <div class="card-header d-flex justify-content-between align-items-center" style="padding:10px 20px !important;">
    <div class="card-title">
      <span class="fw-bold">NHÃN HIỆU</span>
    </div>
    <div class="card-toolbar d-flex">
      <button type="button" class="btn btn-primary" (click)="add()">
        Thêm mới
      </button>
    </div>
  </div>
  <div
    class="card-header"
    style="padding-bottom: 0 !important"
  >
    
    <div class="card-search">
     <div class="w-50">
        <app-search-form
        (keywordEvent)="changeKeyword($event)"
        />
      </div>
    </div>
    
  </div>
  <div class="card-header">
    <div class="card-toolbar d-flex gap-2 align-items-center">
      <span>Số lượng đã chọn: {{ selection2.selected.length }}</span>
      <button type="button" class="btn btn-danger">Xóa nhãn hiệu</button>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table
        mat-table
        class="table table-hover table-styling table-head-custom"
        [dataSource]="listBrandManagementService.items$ | async"
      >
        <ng-container matColumnDef="select">
          <thead>
            <tr>
              <th *matHeaderCellDef style="padding: 2px;">
                <mat-checkbox
                  (change)="$event ? masterToggle() : null"
                  [checked]="selection2.hasValue() && isAllSelected()"
                  [indeterminate]="selection2.hasValue() && !isAllSelected()"
                ></mat-checkbox>
              </th>
            </tr>
          </thead>
          <tbody>
            <td mat-cell *matCellDef="let r" style="padding: 2px">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection2.toggle(r.IdNhanHieu) : null"
                [checked]="selection2.isSelected(r.IdNhanHieu)"
              ></mat-checkbox>
            </td>
          </tbody>
        </ng-container>
        <ng-container matColumnDef="#">
          <thead>
            <tr class="table-primary">
              <th *matHeaderCellDef class="text-center" >
                <span>STT</span>
                
              </th>
            </tr>
          </thead>
          <tbody>
            <td mat-cell *matCellDef="let r; let i = index">
              <div class="row text-center">
                <span>{{ i + 1 }}</span>
              </div>
            </td>
          </tbody>
        </ng-container>

        <ng-container matColumnDef="TenNhanHieu">
          <thead>
            <tr class="table-priamry">
              <th *matHeaderCellDef class="" >
                <span>Tên nhãn hiệu</span>
               
              </th>
            </tr>
          </thead>
          <tbody>
            <td mat-cell *matCellDef="let r">
              <div class="row">
                <span>{{ r.TenNhanHieu }}</span>
              </div>
            </td>
          </tbody>
        </ng-container>
        <ng-container matColumnDef="ThaoTac">
          <thead>
            <tr class="table-priamry">
              <th *matHeaderCellDef class="" >
                <span>Thao tác</span>
                
              </th>
            </tr>
          </thead>
          <tbody>
            <td mat-cell *matCellDef="let r">
              <div class="">
                <button
                  type="button"
                  class="btn"
                  style="margin-right: 0px !important"
                >
                  <i class="fa-solid fa-pen-to-square text-primary"></i>
                </button>
                <button
                  type="button"
                  class="btn"
                  style="margin-left: 0px !important; padding: 0 !important"
                  
                >
                  <i class="fa-solid fa-trash text-danger"></i>
                </button>
              </div>
            </td>
          </tbody>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <app-paginator
      class="d-flex justify-content-between align-items-center flex-wrap"
      [paginator]="paginator"
      [isLoading]="isLoading"
      (paginate)="paginate($event)"
    ></app-paginator>
  </div>
  <router-outlet></router-outlet>
</div>
