<!-- <h2>Đăng nhập</h2>
<form (ngSubmit)="onLogin()">
  <label>Email:</label>
  <input type="email" [(ngModel)]="email" name="email" required />

  <label>Mật khẩu:</label>
  <input type="password" [(ngModel)]="password" name="password" required />

  <button type="submit">Đăng nhập</button>
</form>
<p *ngIf="errorMessage" style="color:red">{{ errorMessage }}</p> -->

<div class="auth-wrapper">
  <div class="auth-content card">
    <div class="text-center">
      <h1 class="">Log in</h1>
    </div>
    <ng-container *ngIf="authService.errorMessageSubject.asObservable() | async">
      <div class="alert alert-custom text-danger">
        <div class="alert-text text-center">{{ authService.errorMessageSubject.asObservable() | async }}</div>
      </div>
    </ng-container>
    <form [formGroup]="loginForm" novalidate (ngSubmit)="submit()"
      class="d-flex flex-column justify-content-center needs-validation">
      <div class="">
        <span class="form-label">Username</span>
        <input type="text" formControlName="username" name="username" required class="form-control" [classList]="" />
        <mat-error *ngIf="
              loginForm.get('username')?.touched &&
              loginForm.get('username')?.invalid
            " style="color: red;font-size:10px">
          Trường này là bắt buộc
        </mat-error>
      </div>
      <div class="my-2 relative">
        <span>Password</span>
        <input type="password" formControlName="password" name="password" required class="form-control" />
        <mat-error *ngIf="
              loginForm.get('password')?.touched &&
              loginForm.get('password')?.invalid
            " style="color: red;font-size:10px">
          Trường này là bắt buộc
        </mat-error>
        <a class="text-muted mt-2 d-block mb-2"> Forgot password? </a>
      </div>
      <button type="submit" class="btn btn-primary m-0">Sign In</button>
    </form>
    <div class="text-center mt-2">
      <p class="">
        Don't have an account?
        <a class="" to="/signup"> Sign up </a>
      </p>
    </div>
  </div>
</div>