.ja_btn-back {
  background-color: #3699ff !important;
  color: white !important;
  font-weight: bold;
  box-shadow: none !important;
  border-radius: 10px;
  border: none !important;
}

.mat-mdc-row{
  background-color: white !important;
  border-bottom: none !important;

}

.mat-mdc-cell {
  border-bottom: 0.5px solid rgb(210, 210, 210) !important;

}

