<div class="modal-content p-3">
  <div
    class="modal-header d-flex py-2 border-bottom justify-content-between align-items-center"
  >
    <div class="modal-title h6">
      <span class="dialog-title">THÊM ĐƠN VỊ BẢO HIỂM</span>
    </div>
    
  </div>
  <div class="modal-body mt-3">
    <form [formGroup]="formGroup" class="d-flex gap-2 flex-wrap">
      <mat-form-field class="w-50">
        <mat-label>Tên đơn vị</mat-label>
        <input
          class="input-batbuoc mat-focused required"
          formControlName="tendonvi"
          matInput
          type="text"
          required
        />
        <mat-error
          *ngIf="
            formGroup.get('tendonvi')?.touched &&
            formGroup.get('tendonvi')?.invalid
          "
          style="color: red; font-size: 10px"
        >
          Trường này là bắt buộc
        </mat-error>
      </mat-form-field>
      <mat-form-field class="flex-fill">
        <mat-label>Địa chỉ</mat-label>
        <input
          class="input-batbuoc mat-focused required"
          formControlName="diachi"
          matInput
          type="text"
          required
        />
        <mat-error
          *ngIf="
            formGroup.get('diachi')?.touched && formGroup.get('diachi')?.invalid
          "
          style="color: red; font-size: 10px"
        >
          Trường này là bắt buộc
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-50">
        <mat-label>Số điện thoại</mat-label>
        <input
          class="input-batbuoc mat-focused required"
          formControlName="sodienthoai"
          matInput
          type="text"
          required
        />
        <mat-error
          *ngIf="
            formGroup.get('sodienthoai')?.touched &&
            formGroup.get('sodienthoai')?.errors?.['required']
          "
          style="color: red; font-size: 10px"
        >
          Trường này là bắt buộc
        </mat-error>
        <mat-error
          *ngIf="
          formGroup.get('sodienthoai')?.touched && 
          formGroup.get('sodienthoai')?.errors?.['pattern']

          "
          style="color: red; font-size: 10px"
        >
          Số điện thoại không đúng định dạng
        </mat-error>
      </mat-form-field>
      <mat-form-field class="flex-fill">
        <mat-label>Người liên hệ</mat-label>
        <input
          class="input-batbuoc mat-focused required"
          formControlName="nguoilienhe"
          matInput
          type="text"
          required
        />
        <mat-error
          *ngIf="
            formGroup.get('nguoilienhe')?.touched &&
            formGroup.get('nguoilienhe')?.invalid
          "
          style="color: red; font-size: 10px"
        >
          Trường này là bắt buộc
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-50">
        <mat-label>Ghi chú</mat-label>
        <input
          class="input-thuong mat-focused"
          formControlName="ghichu"
          matInput
          type="text"
        />
      </mat-form-field>
    </form>
  </div>
  <div class="modal-footer mt-5">
    <div class="modal-title d-flex gap-2">
      <button
        (click)="goBack()"
        class="btn btn-secondary"
        style="margin: 0 !important"
      >
        &xlarr; TRỞ VỀ
      </button>
      <button
        (click)="onSubmit()"
        class="btn btn-primary"
        style="margin: 0 !important"
      >
        Lưu và tiếp tục
      </button>
      <button class="btn btn-primary" style="margin: 0 !important">
        Lưu và đóng
      </button>
    </div>
  </div>
</div>
