<div
  class="position-absolute top-0 left-0 text-bg-light z-3 container-fluid py-3"
  style="
    height: 100%;
    z-index: 999 !important;
    border-radius: 6px;
    background-color: white !important;
  "
>
<div
    class="card-header d-flex justify-content-between"
    style="padding: 10px !important"
  >
    <div class="card-title">
      <span class="fw-bold">THÊM MỚI ĐƠN VỊ TÍNH</span>
    </div>
    <div class="card-toolbar">
      <button (click)="goBack()" class="btn btn-secondary">
        &xlarr; TRỞ VỀ
      </button>
      <button (click)="resetForm()" class="btn btn-secondary">
        <i class="fa-solid fa-gear"></i>
        ĐẶT LẠI
      </button>
      <button (click)="onSubmit()" class="btn btn-primary">
        <i class="fa-solid fa-floppy-disk"></i>
        LƯU
      </button>
    </div>
  </div>
  <div class="card-body" style="height: 300px; padding: 5px !important">
    <form [formGroup]="formGroup" class="form needs-validation" novalidate>
        <mat-form-field class="w-50"> 
            <mat-label>Tên đơn vị tính</mat-label>
            <input formControlName="tendonvitinh" matInput type="text" required>
            <mat-error
            *ngIf="
              formGroup.get('tendonvitinh')?.touched &&
              formGroup.get('tendonvitinh')?.invalid
            "
            style="color: red;font-size:10px"
          >
            Trường này là bắt buộc
          </mat-error>
        </mat-form-field>
    </form>
  </div>

</div>