<div
  class="modal-content p-3"
>
<div
    class="modal-header d-flex py-2 border-bottom justify-content-between align-items-center"
    
  >
    <div class="modal-title">
      <span class="fw-bold">THÊM MỚI ĐƠN VỊ TÍNH</span>
    </div>
    
  </div>
  <div class="modal-body mt-3">
    <form [formGroup]="formGroup" class="form needs-validation" novalidate>
        <mat-form-field class="w-50"> 
            <mat-label>Tên đơn vị tính</mat-label>
            <input formControlName="tendonvitinh" matInput type="text" required>
            <mat-error
            *ngIf="
              formGroup.get('tendonvitinh')?.touched &&
              formGroup.get('tendonvitinh')?.invalid
            "
            style="color: red;font-size:10px"
          >
            Trường này là bắt buộc
          </mat-error>
        </mat-form-field>
    </form>
  </div>
  <div class="modal-footer mt-5">
    <div class="card-toolbar">
      <button (click)="goBack()" class="btn btn-secondary">
        &xlarr; TRỞ VỀ
      </button>
      <button (click)="onSubmit('continue')" class="btn btn-primary">
        <i class="fa-solid fa-gear"></i>
        Lưu và tiếp tục
      </button>
      <button (click)="onSubmit('close')" class="btn btn-primary">
        <i class="fa-solid fa-floppy-disk"></i>
        Lưu và đóng
      </button>
    </div>
  </div>
</div>