<div class="card card-custom gutter-br position-relative">
  <div
    class="card-header d-flex justify-content-between align-items-center"
    style="padding: 10px 20px !important"
  >
    <div class="card-title">
      <span class="fw-bold">LOẠI MẶT HÀNG</span>
    </div>
    <div class="card-toolbar d-flex">
      <button (click)="add()" type="button" class="btn btn-primary">Thêm mới</button>
      <button type="button" class="btn btn-primary">Xuất Excel</button>
      <button type="button" class="btn btn-primary">Bộ lọc</button>
    </div>
  </div>
  <div class="card-header" style="padding-bottom: 0 !important">
    <div class="card-search">
      <div class="w-50">
        <app-search-form
        (keywordEvent)="changeKeyword($event)"
        />
      </div>
      <!-- <form class="d-flex gap-3 flex-wrap">
        <mat-form-field class="w-50">
          <mat-label>Tìm kiếm</mat-label>
          <input matInput type="text" />
        </mat-form-field>
      </form> -->
    </div>
    <div class="card-toolbar ">
      <span>Số lượng đã chọn: {{selection2.selected.length}}</span>
      <button class="btn btn-danger ms-2">Xóa loại mặt hàng</button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="table-responsive angular-bootstrap-table" style="min-height: 250px;">
      <table
        mat-table
        class="table table-hover table-styling table-head-custom overflow-hidden"
        [dataSource]="typeProductManagementService.items$ | async"
      >
        <ng-container matColumnDef="select">
          <thead>
            <tr>
              <th
                *matHeaderCellDef
                style="
                  padding: 2px;
                "
                class="text-center"
              >
                <mat-checkbox
                  (change)="$event ? masterToggle() : null"
                  [checked]="selection2.hasValue() && isAllSelected()"
                  [indeterminate]="selection2.hasValue() && !isAllSelected()"
                ></mat-checkbox>
              </th>
            </tr>
          </thead>
          <tbody>
            <td mat-cell *matCellDef="let r" style="padding: 2px" class="text-center">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection2.toggle(r.IdLMH) : null"
                [checked]="selection2.isSelected(r.IdLMH)"
              ></mat-checkbox>
            </td>
          </tbody>
        </ng-container>
        <ng-container matColumnDef="#">
          <thead>
            <tr class="table-primary">
              <th
                *matHeaderCellDef
                class="text-center"
                
              >
                <span>STT</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <td mat-cell *matCellDef="let r; let i = index">
              <div class="row text-center">
                <span>{{ i + 1}}</span>
              </div>
            </td>
          </tbody>
        </ng-container>

        <ng-container matColumnDef="TenLoaiMH">
          <thead>
            <tr class="table-priamry">
              <th
                *matHeaderCellDef
                class=""
                
              >
                <span>Tên loại mã hàng</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <td mat-cell *matCellDef="let r">
              <div class="row">
                <span>{{ r.TenLMH }}</span>
              </div>
            </td>
          </tbody>
        </ng-container>

        <ng-container matColumnDef="LoaiMHC">
          <thead>
            <tr class="table-priamry">
              <th
                *matHeaderCellDef
                class=""
                
              >
                <span>Loại mã hàng cha</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <td mat-cell *matCellDef="let r">
              <div class="row">
                <span>{{ r.LoaiMHC }}</span>
              </div>
            </td>
          </tbody>
        </ng-container>
        <ng-container matColumnDef="DoUuTien">
          <thead>
            <tr class="table-priamry">
              <th
                *matHeaderCellDef
                class=""
                
              >
                <span>Độ ưu tiên</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <td mat-cell *matCellDef="let r">
              <div class="row">
                <span>{{ r.DoUuTien }}</span>
              </div>
            </td>
          </tbody>
        </ng-container>
        <ng-container matColumnDef="MoTa">
          <thead>
            <tr class="table-priamry">
              <th
                *matHeaderCellDef
                class=""
                
              >
                <span>Mô tả</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <td mat-cell *matCellDef="let r">
              <div class="row">
                <span>{{ r.MoTa }}</span>
              </div>
            </td>
          </tbody>
        </ng-container>
        <ng-container matColumnDef="ThaoTac">
          <thead>
            <tr class="table-priamry">
              <th
                *matHeaderCellDef
                class=""
                
              >
                <span>Thao tác</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <td mat-cell *matCellDef="let r">
              <div class="">
                <button
                  type="button"
                  class="btn"
                  style="margin-right: 0px !important"
                >
                  <i class="fa-solid fa-pen-to-square text-primary"></i>
                </button>
                <button
                  type="button"
                  class="btn"
                  style="margin-left: 0px !important; padding: 0 !important"
                >
                  <i class="fa-solid fa-trash text-danger"></i>
                </button>
              </div>
            </td>
          </tbody>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
     <app-paginator
      class="d-flex justify-content-between align-items-center flex-wrap"
      [paginator]="paginator"
      [isLoading]="isLoading"
      (paginate)="paginate($event)"
    ></app-paginator>
  </div>
  <router-outlet></router-outlet>
</div>
