<div class="card card-custom gutter-br position-relative">
  <div class="card-header d-flex justify-content-between align-items-center" style="padding: 10px 20px !important">
    <div class="card-title">
      <span class="fw-bold">MẶT HÀNG</span>
    </div>
    <div class="card-toolbar d-flex">
      <button *ngIf="listProductManagementService.visible" type="button" class="btn btn-primary" (click)="import()">
        Import dữ liệu
      </button>
      <button *ngIf="listProductManagementService.visible" type="button" class="btn btn-primary" (click)="add()">
        Thêm mới
      </button>
    </div>
  </div>
  <div class="card-header" style="padding-bottom: 0 !important">
    <div class="card-search">
      <div class="w-50">
        <app-search-form (keywordEvent)="changeKeyword($event)" />
      </div>
      <form class="d-flex gap-3 flex-wrap">
        <!-- <mat-form-field class="w-50">
          <mat-label>Tìm kiếm</mat-label>
          <input matInput [formControl]="searchControl" type="text" />
        </mat-form-field> -->

        <mat-form-field class="w-25">
          <mat-label>Loại mặt hàng</mat-label>
          <mat-select (selectionChange)="filterLoaiMatHang($event.value)">
            <mat-option value="0">
              Tất cả
            </mat-option>
            <mat-option *ngFor="
                let item of listTypeProductManagementService.items$ | async
              " [value]="item.IdLMH">
              {{ item.TenLMH }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="flex-fill">
          <mat-label>Đơn vị tính</mat-label>
          <mat-select (selectionChange)="filterDonViTinh($event.value)">
            <mat-option value="0">
              Tất cả
            </mat-option>
            <mat-option *ngFor="let item of listUnitManagementService.items$ | async" [value]="item.IdDVT">
              {{ item.TenDVT }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-25">
          <mat-label>Nhãn hiệu</mat-label>
          <mat-select (selectionChange)="filterNhanHieu($event.value)">
            <mat-option value="0">
              Tất cả
            </mat-option>
            <mat-option *ngFor="let item of listBrandManagementService.items$ | async" [value]="item.IdNhanHieu">
              {{ item.TenNhanHieu }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-25">
          <mat-label>Xuất sứ</mat-label>
          <mat-select (selectionChange)="filterXuatXu($event.value)">
            <mat-option value="0">
              Tất cả
            </mat-option>
            <mat-option *ngFor="let item of listProduceManagementService.items$ | async" [value]="item.IdXuatXu">
              {{ item.TenXuatXu }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="card-header">
    <div *ngIf="listProductManagementService.visible" class="card-toolbar d-flex gap-2 align-items-center">
      <span>Số lượng đã chọn: {{ selection2.selected.length }}</span>
      <button (click)="deleteListProducts()" type="button" class="btn btn-danger">Xóa mặt hàng</button>
    </div>
  </div>
  <div class="card-body" style="padding:10px 0 !important;">
    <div class="table-responsive angular-bootstrap-table" style="min-height: 250px;">
      <table mat-table class="table table-hover table-styling table-head-custom overflow-hidden"
        [dataSource]="listProductManagementService.items$ | async">
        <ng-container matColumnDef="select">
          <thead>
            <tr>
              <th *matHeaderCellDef style="
                  padding: 2px;
                  
                " class="text-center">
                <mat-checkbox *ngIf="listProductManagementService.visible" (change)="$event ? masterToggle() : null"
                  [checked]="selection2.hasValue() && isAllSelected()"
                  [indeterminate]="selection2.hasValue() && !isAllSelected()"></mat-checkbox>
              </th>
            </tr>
          </thead>
          <tbody>
            <td mat-cell *matCellDef="let r" style="padding: 2px" class="text-center">
              <mat-checkbox *ngIf="listProductManagementService.visible" (click)="$event.stopPropagation()"
                (change)="$event ? selection2.toggle(r.IdMH) : null"
                [checked]="selection2.isSelected(r.IdMH)"></mat-checkbox>
            </td>
          </tbody>
        </ng-container>
        <ng-container matColumnDef="#">
          <thead>
            <tr class="table-primary">
              <th *matHeaderCellDef class="text-center">
                <span>STT</span>
                <app-sort-icon column="#" [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"></app-sort-icon>
              </th>
            </tr>
          </thead>
          <tbody>
            <td mat-cell *matCellDef="let r; let i = index">
              <div class="row text-center">
                <span>{{ i + 1 }}</span>
              </div>
            </td>
          </tbody>
        </ng-container>

        <ng-container matColumnDef="HinhAnh">
          <thead>
            <tr class="table-priamry">
              <th *matHeaderCellDef class="">
                <span>Hình ảnh</span>
                <app-sort-icon column="HinhAnh" [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"></app-sort-icon>
              </th>
            </tr>
          </thead>
          <tbody>
            <td mat-cell *matCellDef="let r">
              <div class="row">
                <span>{{ r.HinhAnh }}</span>
              </div>
            </td>
          </tbody>
        </ng-container>

        <ng-container matColumnDef="MaHang">
          <thead>
            <tr class="table-priamry">
              <th *matHeaderCellDef class="">
                <span>Mã hàng</span>
                <app-sort-icon column="MaHang" [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"></app-sort-icon>
              </th>
            </tr>
          </thead>
          <tbody>
            <td mat-cell *matCellDef="let r">
              <div class="row">
                <span>{{ r.MaHang }}</span>
              </div>
            </td>
          </tbody>
        </ng-container>
        <ng-container matColumnDef="TenMatHang">
          <thead>
            <tr class="table-priamry">
              <th *matHeaderCellDef class="">
                <span>Tên mặt hàng</span>
                <app-sort-icon column="TenMatHang" [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"></app-sort-icon>
              </th>
            </tr>
          </thead>
          <tbody>
            <td mat-cell *matCellDef="let r">
              <div class="row">
                <span>{{ r.TenMatHang }}</span>
              </div>
            </td>
          </tbody>
        </ng-container>
        <ng-container matColumnDef="SoKyTinhKhauHaoToiThieu">
          <thead>
            <tr class="table-priamry">
              <th *matHeaderCellDef class="">
                <span>Số kỳ tính khấu hao tối thiểu</span>
                <app-sort-icon column="SoKyTinhKhauHaoToiThieu" [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"></app-sort-icon>
              </th>
            </tr>
          </thead>
          <tbody>
            <td mat-cell *matCellDef="let r">
              <div class="row">
                <span>{{ r.SoKyTinhKhauHaoToiThieu }}</span>
              </div>
            </td>
          </tbody>
        </ng-container>
        <ng-container matColumnDef="SoKyTinhKhauHaoToiDa">
          <thead>
            <tr class="table-priamry">
              <th *matHeaderCellDef class="">
                <span>Số kỳ tính khấu hao tối đa</span>
                <app-sort-icon column="SoKyTinhKhauHaoToiDa" [activeColumn]="sorting.column"
                  [activeDirection]="sorting.direction"></app-sort-icon>
              </th>
            </tr>
          </thead>
          <tbody>
            <td mat-cell *matCellDef="let r">
              <div class="row">
                <span>{{ r.SoKyTinhKhauHaoToiDa }}</span>
              </div>
            </td>
          </tbody>
        </ng-container>
        <ng-container matColumnDef="ThaoTac">
          <thead>
            <tr class="table-priamry">
              <th *matHeaderCellDef class="">
                <span>Thao tác</span>

              </th>
            </tr>
          </thead>
          <tbody>
            <td mat-cell *matCellDef="let r">
              <div class="">
                <button *ngIf="listProductManagementService.visible" (click)="edit(r.IdMH)" type="button" class="btn"
                  style="margin-right: 0px !important">
                  <i class="fa-solid fa-pen-to-square text-primary"></i>
                </button>
                <button *ngIf="listProductManagementService.visible" type="button" class="btn"
                  style="margin-left: 0px !important; padding: 0 !important" (click)="deleteProduct(r.IdMH)">
                  <i class="fa-solid fa-trash text-danger"></i>
                </button>
              </div>
            </td>
          </tbody>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="dislayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: dislayedColumns"></tr>
      </table>
    </div>
    <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
      [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
  </div>
  <router-outlet></router-outlet>
</div>