.ja_btn_tatca {
  background-color: #57cc99 !important;
  color: white !important;
  font-weight: bold;
  box-shadow: none !important;
  border-radius: 10px;
  border: none !important;
}

.ja_btn-addnew {
  background-color: #ff4d6d !important;
  color: white !important;
  font-weight: bold;
  box-shadow: none !important;
  border-radius: 10px;
  border: none !important;
}
